block content
    h1 Cervezas artesanales de Euskadi 
    each cerveza in cervezas
        h2= cerveza.nombre_cerveza
        p= cerveza.clase
        p= cerveza.marca
        p= cerveza.origen
        p= cerveza.graduacion